.address{
    width: 340px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 5px;
    font-size: 0.8em;
    line-height: 25px;
}

.field label{
    display: block;
    float: left;
    width: 135px;
}

.field input{
    width: 200px;
}
